.header-component {
  background-color: #4A90E2;
  color: #fff;
}

.header-component a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.header-component .login {
  float: right;
}

.header-component::after {
  clear: both;
}
