* {
  padding: 0;
  margin: 0;
  font-weight: 100;
  box-sizing: border-box;
}

body {
  color: #555;
  background-color: #fafafa;
}

.page-content {
  padding: 10%;
  text-align: center;
}

.small-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2em;
}

.big-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #4A90E2;
  padding: 20px;
}

.success-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4A90E2;
  color: #fff;
  padding: 20px;
  display: inline-block;
}

.table {
  margin-top: 50px;
  margin-bottom: 50px;
  display: table;
}

.table .header {
}

.table .header, .table .row {
  display: table-row;
  margin-bottom: 10px;
}

.table .header .cell {
  color: #4A90E2;
}

.table .cell {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
  margin: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

textarea, input, button {
  outline: none;
  padding: 20px;
  text-align: center;
}

textarea, input {
  border: 1px solid #4A90E2;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}
